.DS_Store
.env
.env.*
.python-version
.venv/
venv/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.idea/
.vscode/
